
@font-face {
  font-family: 'Helvetica';
  src: url('Helvetica.eot?#iefix') format('embedded-opentype'),  url('Helvetica.woff') format('woff'), url('Helvetica.ttf')  format('truetype'), url('Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('Helvetica-Bold.eot?#iefix') format('embedded-opentype'),  url('Helvetica-Bold.woff') format('woff'), url('Helvetica-Bold.ttf')  format('truetype'), url('Helvetica-Bold.svg#Helvetica-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Light';
  src: url('Helvetica-Light.eot?#iefix') format('embedded-opentype'),  url('Helvetica-Light.woff') format('woff'), url('Helvetica-Light.ttf')  format('truetype'), url('Helvetica-Light.svg#Helvetica-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Oblique';
  src: url('Helvetica-Oblique.eot?#iefix') format('embedded-opentype'),  url('Helvetica-Oblique.woff') format('woff'), url('Helvetica-Oblique.ttf')  format('truetype'), url('Helvetica-Oblique.svg#Helvetica-Oblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
